.about-flex {
    z-index: 90;
    display: flex;
}

.about-col-1 {
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
}

.about-col-2 {
    flex-basis: 40%;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.about-image{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    filter: brightness(1.1) drop-shadow(0px 0px 10px rgba(105, 105, 105, 0.435));
}

.about-p{
    /* flex: 1; */
    flex-grow: 1;
    margin: 0 6vw;
    font-size: 1.8vw;
    text-align: start;
    font-family: 'Dangrek', sans-serif;
    font-weight: normal;
    color:rgb(47, 63, 78);
    text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.47);
}

.about-bg {
    position: relative;
    background: url('../images/cardboard-blue.png');
    background-size:cover;
}

#leaf-border {
    width: 99vw;
    position: absolute;
    left:0;
    top: 95vh;
    z-index: 1;
    filter: drop-shadow(3px 3px 3px rgba(105, 105, 105, 0.435))

}

@media screen and (max-width: 1000px){
    #leaf-border{
        top: 98vh;
    }
}

#about-hero-text {
    flex-basis: 30%;
    text-align: start;
    z-index: 89;
    margin-top: 3vw;
    margin-left: 6vw; 
    padding: 0 1vw; /* in this font, letters get cut off to the left */
    font-size: 8vw;
    font-family: 'Berkshire Swash', sans-serif; /* nice in lowercase */

    /* Clip the fixed image onto the text */
    background-image: url('../images/rough-marker-blue.png');
    background-size: cover;
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}


@media screen and (max-width: 1000px){
    #about-hero-text {
        font-size: 15vw;
    }
}