#contactme {
  z-index: 90;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  max-height: fit-content;
}

.contact-subtitle {
  color: white;
  padding: 0 10vw 6vw;
  font-size: 1.5vw;
  line-height: 100%;
  text-shadow: none;
  margin-bottom: 0;
  font-weight: bold;
}

.contact-form-flex {
  display: flex;
}

.contact-form {
  display: flex;
  /* flex: 5; */
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 25vw;

  margin: 5vh 0;
  padding: 4vh 0
  ;
  
  background-color: white;
  box-shadow: 10px 10px 0 var(--orange);
  border-radius: 0.8vw;
}

@media screen and (max-width: 1000px) {
  .contact-form {
    font-size: 2vw;
    width: 50vw;
    /* background-color: red; */
  }
}

.contact-form-title {
  color: var(--orange);
  font-family:  var(--title-font);
  margin: 0;
}

.contact-form-subtitle,
.contact-form-thank-you > p {
  color: black;
  font-size: 1.5vw;
  line-height: 100%;
  text-shadow: none;
  margin-bottom: 0;
  font-weight: bold;
}

.contact-form-thank-you {
  color: green;
  text-shadow: 3px 3px 0 black;
  line-height: 140%;
  margin-bottom: 0;
}

.contact-item {
  font-family: var(--p-font);
  /* width: 100%; */
  flex: 1;
  margin: 4vh 0 0;
  font-size: 1vw;
  padding: 1vw;
  border: 2px solid grey;
  border-radius: 0.3vw;
}

.contact-submit-btn {
  background-color: var(--yellow);
  border: 2px solid var(--orange);
  font-weight: bold;
  width: 60%;
}

.contact-submit-btn:hover {
  background-color: var(--orange);
  border: 2px solid var(--red);
  cursor: pointer;
}

.empty-col {
  flex: 3;
}

/* wow i didn't know about this before! */
.contact-item:invalid ~ .contact-form-error {
  display: block;
}

.contact-form-error {
  font-size: 1vw;
  color: var(--orange);
  display: none;
}

.contact-textarea {
  resize: vertical;
}
