#contactme {
    z-index: 90;
    position: relative;
    background-color: var(--arcade-bg);
    color:white;
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    max-height: fit-content;
}

.contact-form-flex {
    display: flex;
}

.contact-form {
    margin: 5vh 0;
    background-color: white;
    box-shadow: 10px 10px 0 var(--orange);
    flex: 2;
    display: flex;
    flex-direction: column;
    border-radius: 0.8vw;
    padding: 3vh 3vw;
    justify-content: center;
    align-items: center;
}

.contact-form-title {
    color: var(--orange);
    font-family: 'Press Start 2P', monospace;
    margin-bottom:0;
}

.contact-form-subtitle, .contact-form-thank-you > p {
    color: var(--arcade-bg);
    font-size: 1.5rem;
    line-height: 100%;
    text-shadow: none;
    margin-bottom: 0;
    font-family: 'Silkscreen', monospace;
    font-weight: bold;
}

.contact-form-thank-you {
    color: green;
    text-shadow: 3px 3px 0 var(--arcade-bg);
    line-height: 140%;
    font-family: 'Press Start 2P', monospace;
    margin-bottom:0;
}

.contact-item {
    font-family: 'Silkscreen', monospace;
    flex:1;
    margin: 4vh 0 0;
    font-size: 1vw;
    padding: 1vw;
    border: 2px solid var(--arcade-bg);
    border-radius: 0.3vw;
}

.contact-submit-btn {
    background-color: var(--yellow);
    border: 2px solid var(--orange);
    font-weight: bold;
    width: 60%;
}

.contact-submit-btn:hover {
    background-color: var(--orange);
    border: 2px solid var(--red);
    cursor: pointer;
}

.empty-col {
    flex: 3;
}

/* wow i didn't know about this before! */
.contact-item:invalid ~ .contact-form-error {
    display: block;
}

.contact-form-error {
    font-size: 1vw;
    font-family: 'Silkscreen', monospace;
    color: var(--orange);
    display: none;
}

.contact-textarea{
    resize: vertical;
}