/* =============== CONTACT ME PAGE =============== */
#contactme {
  position: relative;
  
  min-height: 70vh;
  max-height: fit-content;

  z-index: 90;
}

/* =============== CONTACT HERO TEXT AND SUBTITLE ("If you're looking...") =============== */
#contact-hero-text {
  padding: 6vh 0 0 0;
}

.contact-subtitle {
  margin-bottom: 0;
  padding: 0 20vw 5vh;
  
  font-size: 1.5vw;
  color: var(--brown);
  text-shadow: none;
  font-weight: bold;
  line-height: 100%;
}


/* =============== CONTACT FORM =============== */
.contact-form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------- Big white overall rectangle ------------- */
.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  /* it's 30vw, and each input form is 20vw */

  margin: 5vh 0;
  padding: 4vh 0;
  
  background-color: white;
  box-shadow: 10px 10px 0 var(--brown);
  border-radius: 0.8vw;
}

@media screen and (max-width: 1000px) {
  .contact-form {
    width: 50vw;

    font-size: 2vw;
    /* background-color: red; */
  }
}

/* ------------- Form Title ------------- */
.contact-form-title {
  margin: 0;

  color: var(--brown);
  font-family:  var(--title-font);
}

/* ------------- Form "thank you" msg after submitting ------------- */
.contact-form-thank-you {
  margin: 0;

  color: var(--dark-teal);
  font-size: 2vw;
  line-height: 140%;
}

.contact-form-thank-you > p {
  /* separates "Thank You, Name" and "Your msg has been submitted" */
  padding: 2vh 0 0;
  margin: 0;

  color: var(--p-blue);
  font-weight: normal;
  font-size: 1.5vw;
  line-height: 100%;
  text-shadow: none;
}

/* ------------- Each contact form input item (name, email, message) ------------- */
.contact-item {
  width: 20vw;

  margin: 4vh 0 0;
  padding: 1vw;
  border: 2px solid grey;
  border-radius: 0.3vw;

  font-family: var(--p-font);
  font-size: 1vw;
}

.contact-textarea {
  resize: vertical;
}

/* ------------- Contact form error message ------------- */
/* wow i didn't know about this before! */
.contact-item:invalid ~ .contact-form-error {
  display: block;
}

.contact-form-error {
  display: none;
  color: var(--brown);
  font-size: 1vw;
}

/* ------------- Contact form submit button! ------------- */
.contact-submit-btn {
  width: 60%;
  border: 2px solid var(--dark-teal);

  color: white;
  font-family: var(--title-font);
  font-size: 2vw;
  font-weight: normal;

  background-color: var(--teal);
}

.contact-submit-btn:hover {
  border: 2px solid var(--p-blue);
  background-color: var(--dark-teal);
  cursor: pointer;
}