#xp {
    background-color: rgb(25, 13, 60);
    padding: 4vw 6vw 0 6vw;
    display: flex;
    min-height: 100vh;
    max-height: fit-content;
    flex-direction: column;
}

.xp-hero-text {
    text-align: left;
}

.xp-item-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}
