#xp {
  /* background-color: var(--arcade-bg); */
  padding: 4vw 6vw;
  display: flex;
  min-height: 100vh;
  max-height: fit-content;
  flex-direction: column;
}

.xp-hero-text {
  text-align: left;
  margin: 0 0 20vh 0;
}

/* One vine that tiles vertically, add nodes individually with xp cards. */
.timeline-container {
  /* for visualizing: */
  /* background-color: rgba(139, 0, 139, 0.253); */
  position: relative;
}

.vine-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left:10vw;

  width: 10vw;
  background-size: 9vw; /* same as width */
  
  /* for visualising: */
  /* background-color: rgba(255, 0, 0, 0.244); */
  background-image: url('../images/experience/vine_tile.png');
  background-repeat: repeat-y;
}

.xp-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10vw; /* same as vine image left */
}
