#home-container {
    z-index: 99;
    position: relative;
    top:200px;
}

h1 {
    margin: 0;
}

#hi-im {
    color: #161e16;
    text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.47);
    font-family: 'Righteous', sans-serif;
    font-family: 'Dangrek', sans-serif; /* nice in lowercase */
    position: absolute;
    left: 29vw;
    font-size: 3.5vw;
}

@media screen and (max-width: 1000px){
    #hi-im {
        font-size: 5vw;
    }
}


#main-name {
    font-size: 15vw;
    font-family: 'Dangrek', sans-serif; /* nice in lowercase */
    font-family: 'Berkshire Swash', sans-serif; /* nice in lowercase */

    /* Clip the fixed image onto the text */
    background-image: url('../images/name-leaves3.png');
    background-size: cover;
    background-attachment: fixed;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}