/* === LEFT === */
.left-leaf-plx {
    margin-top: 80px;
    position: fixed;
    z-index:90;
    left:0;
    top:0;
    width: 100%;
}

.left-leaf-img {
    width: 100%;
    filter: drop-shadow(3px 3px 3px rgb(154, 154, 154))
}

/* === BOTH === */
#l-leaf-3, #r-leaf-3 {
    margin-top: 80px;
}


/* === RIGHT === */
.right-leaf-plx {
    margin-top: 60px;
    position: fixed;
    z-index:90;
    left:0;
    top:0;
    width: 100%;
    filter: drop-shadow(3px 3px 3px rgb(154, 154, 154))
}

.right-leaf-img {
    width: 100%;
}