.nav {
  background-color: var(--brown);
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 100;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav li {
  width: 25%;
  font-size: 0.9vw;
}

@media screen and (max-width: 768px) {
  .nav {
    top: 0;
    left: 0;
  }

  .nav ul {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .nav li {
    font-size: 2.5vw;
    width: 100%
  }

  .nav-menu-btn {
    font-size: 4vw;
  }

  .nav-menu-btn:hover {
    background-color: var(--dark-green);
    cursor: pointer;
  }
}

.navLinks {
  width: 100%;
}

.navLinks h1 {
  margin: 0;
}

.nav li:hover {
  /* background-color: #213f23; */
  background-color: var(--dark-green);
}

.nav a {
  color: #fff;
  text-decoration: none;
}
