.nav {
    background-color: #9e7c5a;
    color: #fff;
    position:fixed;
    top:0;
    right:0;
    width:100%;
    z-index: 100;

}
  
ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width:100%;
}

li {
    font-family:'Righteous', Courier, sans-serif;
    width:25%;
    display: flex;
}

.navLinks {
    width:100%;
}

li:hover{
    background-color: #664320;
}

a {
    color: #fff;
    text-decoration: none;
}