.projects-flex {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#projects {
    background-color: rgb(25, 13, 60);
    color:gold;
    /* padding-top: 4vw; */
    /* padding-right:6vw; */
    padding: 4vw 6vw 0 6vw;
    display: flex;
    min-height: 100vh;
    max-height: fit-content;
}

.projects-hero-text {
    line-height: 0;
    padding-top: 3vw;
    margin-block-start:0;
    text-align: right;
    /* flex-direction: column; */
    font-size: 6vw;
    font-weight: normal;
    /* font-family: 'Silkscreen', monospace; MC */
    /* font-family: 'Nabla', monospace; 3d */
    font-family: 'Press Start 2P', monospace; /* Nice */
    text-shadow: 
    10px 10px rgb(202, 119, 18),
    20px 20px rgb(180, 23, 23);
}

@media screen and (max-width: 1000px){
    .projects-hero-text {
        font-size: 10vw;
    }
}


.project-card {
    top:0;
    font-weight: bold;
    font-family: 'Silkscreen', monospace;
    /* background-image: url('../images/projects/background.png'); */
    /* background-size:auto; */

    color: rgb(49, 47, 63);
    background-repeat: no-repeat;
    width:30vw;
    /* height:30vw; */
    line-height: 100%;
    padding: 4vw 3vw;
    border-radius: 1.5vw;
    margin:0vw 2vw;
    background-color: rgb(223, 223, 223);
}
.project-card:hover {
    background-color: white;
}

.project-card-image {
    width: 90%;
}

.project-card-title {
    padding-top: 5%;
    font-size: 2rem;

}

.project-card-links {
    font-size: 1.5rem;
}

.project-card-links > a {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(49, 47, 63);
    text-shadow: 2px 2px gold;
}

.project-card-links > a:hover {
    text-shadow: 2px 2px rgb(202, 119, 18);
}

.projects-carousel-btn-flex {
    display: flex;
    justify-content: space-around;
}

.projects-carousel-btn {
    font-family: 'Silkscreen', monospace;
    font-size: 5vw;
    margin:1vw;
    width:50vw;
    border-radius: 0.5vw;
}

.projects-carousel-btn:hover {
    cursor: pointer;
    /* color: rgb(202, 119, 18); */
    text-shadow: 4px 4px rgb(202, 98, 18);
    background-color: rgb(39, 23, 85);
}