.projects-flex {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#projects {
    background-color: rgb(25, 13, 60);
    color: var(--yellow);
    /* padding-top: 4vw; */
    /* padding-right:6vw; */
    padding: 4vw 6vw 0 6vw;
    display: flex;
    min-height: 100vh;
    max-height: fit-content;
}

.projects-hero-text {
    line-height: 0;
    padding: 4vw 0 2vw;
    margin-block-start:0;
    text-align: right;
    /* flex-direction: column; */
    font-size: 6vw;
    font-weight: normal;
    /* font-family: 'Silkscreen', monospace; MC */
    /* font-family: 'Nabla', monospace; 3d */
    font-family: 'Press Start 2P', monospace; /* Nice */
    text-shadow: 
    10px 10px var(--orange),
    20px 20px var(--red);
}

@media screen and (max-width: 1000px){
    .projects-hero-text {
        font-size: 10vw;
    }
}


.project-card {
    top:0;
    font-weight: bold;
    font-family: 'Silkscreen', monospace;
    /* background-image: url('../images/projects/background.png'); */
    /* background-size:auto; */

    color: rgb(49, 47, 63);
    background-repeat: no-repeat;
    width:30vw;
    /* height:30vw; */
    padding: 2vw 2vw;
    border-radius: 1.5vw;
    margin: 0vw 2vw;
    background-color: white;
    box-shadow: 10px 10px 0 var(--orange);
}

.project-card-image {
    width: 90%;
    border-radius: 0.2vw;
}

.project-card-image:hover {
    /* width: 100%; */
    box-shadow: 7px 7px 0px rgb(49, 47, 63);
    border-radius: 0.1vw;
    /* filter:brightness(110%); */
    cursor:pointer;
}

.project-card-title {
    padding-top: 5%;
    font-size: 2vw;
    line-height: 100%;
}

.project-card-links {
    font-size: 1.5vw;
    display: flex;
    justify-content: space-evenly;
    /* width:50%; */
}

.project-card-links > a {
    width:100%;
    line-height: 100%;
    text-decoration: none;
    color: rgb(49, 47, 63);
    text-shadow: 2px 2px var(--yellow);
}

.project-card-links > a:hover {
    text-shadow: 2px 2px var(--orange);
    /* background-color: rgba(255, 217, 0, 0.357); */
    border-radius: 0.5vw;
}

.project-card-tech {
    font-size: 0.8vw;
}

.projects-carousel{
    display: flex;
    align-items: center;
}

.projects-carousel-cards {
    display: flex;
}


.projects-carousel-btn {
    flex:1;
    font-family: 'Silkscreen', monospace;
    font-size: 5vw;
    padding: 20vh 0;
    border-radius: 0.5vw;
    user-select: none;
    filter: opacity(100%);
    cursor: pointer;
}

.projects-carousel-btn:hover {
    text-shadow: 4px 4px var(--orange);
    background-color: rgb(39, 23, 85);
}


.img-enlarged-container {
    cursor: pointer;
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.489);
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    z-index: 999;
}

.img-enlarged {
    position:fixed;
    top: 10vh;
    max-width: 80%;
    max-height: 80%;
    border-radius: 1vw;
    box-shadow: 0 0 10px black;
}