#leaf-border-projects {
  top: 207vh;
}

#projects {
  display: flex;
  flex-direction: column;
  padding: 0 6vw;
  min-height: 100vh;
  max-height: fit-content;
  position: relative;
}

#projects-hero-text {
  text-align: right;
  padding: 5vh 0 0 0;
}

@media screen and (max-width: 1000px) {
  .projects-hero-text {
    font-size: 10vw;
  }
}

.project-card {
  top: 0;
  font-weight: normal;
  color: rgb(49, 47, 63);
  background-repeat: no-repeat;
  width: 30vw;
  padding: 2vw;
  border-radius: 1.5vw;
  margin: 0vw 2vw;
  background-color: white;
  box-shadow: 10px 10px 0 var(--title-blue);
}

.project-card-image {
  width: 90%;
  border-radius: 0.2vw;
}

.project-card-image:hover {
  /* width: 100%; */
  box-shadow: 0 0 0 8px var(--teal-translucent);
  transition-duration: 300ms;
  border-radius: 0.1vw;
  /* filter:brightness(110%); */
  cursor: pointer;
}

.project-card-title {
  padding-top: 5%;
  font-size: 2.3vw;
  color: var(--dark-teal);
  line-height: 100%;
  margin:1vh;
}

.project-card-links {
  display: flex;
  justify-content: space-evenly;
  margin: 1vh 0;

  font-size: 1.8vw;
}

.project-card-links > a, .project-card-or {
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: var(--p-blue);
  text-shadow: 2px 2px var(--brown);

  padding: 1vh 1vw;
  border-radius: 0.5vw;
}

.project-card-links > a {
  line-height: 200%;
}

.project-card-or {
  line-height: 0;
}

.project-card-links > a:hover {
  text-shadow: 2px 2px var(--teal);
  background-color: var(--teal-translucent);
  transition-duration: 300ms;
}

/* the whole tech stack per card */
.project-card-tech {
  font-size: 1vw;
  line-height: 140%;
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* each tech item (image, description) */
.projects-tech-stack {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* width: 3vw; */
  height: 2vw;

  border-radius: 0.5vw;
  transition-duration: 300ms;
  padding: 1vw 0.3vw;
}

.projects-tech-stack:hover {
  background-color: var(--teal-translucent);
  cursor: default;
  transition-duration: 300ms;
}

.projects-tech-img {
  max-height: 100%;
  max-width: 100%;
  transition-duration: 300ms;
  margin: 0;
}

/* if the tech stack is hovered, add extra drop shadow to tech img */
.projects-tech-stack:hover > .projects-tech-img {
  filter: drop-shadow(0 0 10px white);
  transition-duration: 300ms;
}

.projects-tech-description {
  margin: 0;
}

.projects-carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 12vh;
}

.projects-carousel-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-carousel-btn {
  flex: 1;
  padding: 20vh 0;
  margin: 0;
  border-radius: 0.5vw;
  
  font-size: 5vw;
  color: var(--title-blue);
  
  user-select: none;
  cursor: pointer;
}

.projects-carousel-btn:hover {
  text-shadow: 4px 4px var(--brown);
  background-color: var(--teal-translucent);
  transition-duration: 300ms;
}
