html,
body {
  height: 100vh;
}

#root {
  height: 100vh;
  --title-blue: rgb(42, 62, 75);
  --p-blue: rgb(49, 47, 63);
  --brown: #976f46;
  --dark-brown: #6f4f2e;
  --green: #3b4f44;
  --dark-green: #2a3a2b;
  --dark-teal: rgb(54, 69, 84);
  --teal: rgb(81, 120, 119);
  --teal-translucent: rgba(34, 39, 111, 0.254);
  --red: rgb(180, 23, 23);
  --arcade-bg: rgb(25, 13, 60);
  --title-font: "Berkshire Swash", sans-serif;
  --p-font: "Dangrek", sans-serif;
  font-family: var(--p-font);
}

.component {
  height: 100vh;
  width: 100%;
}

.subsections-hero-text {
  line-height: 120%;

  cursor: default;
  /* flex-basis: 30%; */
  /* text-align: start; */
  z-index: 89;
  /* margin-top: 3vw; */
  padding: 0 1vw 2vh; /* in this font (B. Swash), letters get cut off to the left */
  margin:0;
  font-size: 8vw;
  font-family: var(--title-font); /* nice in lowercase */
  font-weight: normal;

  /* Clip the fixed image onto the text */
  background-image: url("../images/rough-marker-blue.png");
  background-size: cover;
  background-attachment: fixed;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  /* text-shadow: 0 0 10px black; */
}
