.xp-card {
    font-weight: bold;
    cursor: pointer;
    font-family: 'Silkscreen', monospace;
    /* background-image: url('../images/XPs/background.png'); */
    /* background-size:auto; */

    color: rgb(49, 47, 63);
    background-repeat: no-repeat;
    width:30vw;
    /* height:30vw; */
    padding: 2vw 2vw;
    border-radius: 1.5vw;
    margin: 25vh 2vw 0;
    background-color: white;
    box-shadow: 10px 10px 0 var(--orange);
}

.xp-card-image {
    width: 90%;
    border-radius: 0.2vw;
}

.xp-card-image:hover {
    /* width: 100%; */
    box-shadow: 7px 7px 0px rgb(49, 47, 63);
    border-radius: 0.1vw;
    /* filter:brightness(110%); */
    cursor:pointer;
}

.xp-card-title {
    font-size: 2vw;
    line-height: 100%;
}

.xp-card-links {
    font-size: 1.5vw;
    display: flex;
    justify-content: space-evenly;
    /* width:50%; */
}

.xp-card-links > a {
    width:100%;
    line-height: 100%;
    text-decoration: none;
    color: rgb(49, 47, 63);
    text-shadow: 2px 2px var(--yellow);
}

.xp-card-links > a:hover {
    text-shadow: 2px 2px var(--orange);
    /* background-color: rgba(255, 217, 0, 0.357); */
    border-radius: 0.5vw;
}

.xp-card-desc {
    font-size: 1vw;
    text-align: left;
}

.xp-line-container {
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.xp-line {
    width:25%;
    height:50vh;
    position: relative;
    top:30vh
}

.xp-extra-line {
    width:25%;
    height:100%;
    position: relative;
    top:30vh
}

.xp-square {
    width:25%;
    position: relative;
    top:30vh;
    z-index: 1;
}

.xp-square:hover {
    filter: drop-shadow(0px 0px 10px white);
    cursor: pointer;
}

.xp-card-container {
    flex:1;
    position: relative;
    top:0vh;
}