.App {
  /* https://www.transparenttextures.com/cardboard.html */
  text-align: center;
  background-image: url('./images/texture.png');
  font-weight: lighter;
}

html {
  margin: 0;
  padding: 0;
}
